VITE_API_URL=https://travel-diary-backend.onrender.com/api
MONGODB_URI=mongodb+srv://dwije48_db_user:TwViXE3tFtZqEOA2@travel-diary.ru6yi58.mongodb.net/?appName=travel-diary
JWT_SECRET=travel_diary_secret_key_2024_secure
NODE_ENV=production
